body {
    background-color: #fcf7f2;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

#info {
    color: #ccc;
    letter-spacing: 2px;
    margin: 180px 0 0 50px;
}

#top_container {
    position: fixed;
    top: 200px;
}

.message {
    color: #333;
    font-family: Monaco, Consolas, 'Lucida Console', monospace;
    font-size: 28px;
    padding: 30px 30px 30px 50px;
    width: 680px;
}

#bottom_container {
    height: 2000px;
    position: absolute;
    top: 2500px;
    width: 100%
}

#attribute {
    padding: 0 30px;
    text-align: right;
    width: 680px;
}

a {
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    color: #605f83;
}
a:hover {
    color: #5f8360;
}